@use '../../styles/variables.scss' as *;

.achievements {
  height: 100vh;
  width: 100vw;
  background-image: url('/images/bg/achievement-bg.png');
  @include background;
  // background: linear-gradient(135deg, #0f1419 0%, #1e2328 100%);
  overflow: hidden;

  &__container {
    width: 92%;
    height: 80%;
    margin: 0 auto;
    margin-top: 8%;
    @include flex-col-between;
    // background-color: red;
  }

  &__content {
    height: 88%;
    width: 100%;
    @include flex-col-between;
    // border: 1px solid white;
    // background-color: violet;
  }
}

.pagination {
  left: 50%;
  width: 30%;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  button {
    background: #181818;
    border: 3px solid #b69461;
    color: #e4c493;
    font-family: inherit;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.2s, color 0.2s, border 0.2s;
    
    &:hover:not(:disabled) {
      background: #c89b3c;
      border-color: #c89b3c;
      color: #0f1419;
    }

    &:disabled {
      background: #222;
      color: #b69461;
      opacity: 0.7;
      cursor: not-allowed;
      border: 2px solid #b69461;
    }
  }

  span {
    font-weight: bold;
    color: #cdbe91;
    font-size: 1rem;
    letter-spacing: 1px;
  }
}

@media (max-width: 768px) {
  .achievements {

    &__container {
      background-color: red;
    }

    &__title {
      font-size: 2rem;
    }

    &__list {
background-color: #c89b3c;
    }
  }

  .pagination {
    width: 50%;
    
    button {
      font-size: 0.9rem;
      padding: 0.4rem 0.8rem;
    }

    span {
      font-size: 0.9rem;
    }
  }
} 