@use '../../styles/variables.scss' as *;

// Champion Card - Main container
.champion__card {
  position: relative;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-image: url('..//images/frames/dropdown.png');
  @include background;
  background-size: 85% 120%;
  background-position: right center;
  // background-color: yellow;
}

// LEFT CONTAINER - 30% width, 100% height
.left__container {
  position: relative;
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: red;
}

// Champion image as background
.champion__image__background {
  width: 70%;
  height: 80%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  z-index: 1;
}

// Champion frame overlay
.champion__frame {
  position: absolute;
  width: auto;
  height: 140%;
  bottom: -10%;
  object-fit: contain;
  z-index: 2;
}

// RIGHT CONTAINER - 76% width, 100% height
.right__container {
  position: relative;
  width: 76%;
  height: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  // background-color: blue;
}

// LEFT INFO CONTAINER - 60% width, 100% height
.left__info__container {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  // background-color: cyan;
}

// Account name
.account__name {
  width: 100%;
  height: 25%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  color: #9b9171;
  font-size: 0.6vw;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.15vw;
  // background-color: lightblue;
}

// Crystals container
.crystals__container {
  width: 85%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background-color: orange;
}

.crystal {
  width: auto;
  height: 100%;
  object-fit: contain;
}

.crystal__unlocked {
  filter: brightness(1) saturate(1);
  opacity: 1;
}

.crystal__locked {
  filter: brightness(0.3) saturate(0.2);
  opacity: 1;
}

// XP container (30% width)
.xp__container {
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: pink;
}

.xp__text {
  color: #cdbe91;
  font-size: 1rem;
  letter-spacing: 0.1vw;
  font-weight: 600;
  text-align: center;
}

// MASTERY SCORE CONTAINER - 20% width, 100% height
.mastery__score__container {
  width: 25%;
  height: 100%;
  display: flex;
  margin-right: 7%;
  @include flex-col-between;
  // background-color: coral;
}

.mastery__score__badge {
  width: auto;
  height: 65%;
  object-fit: contain;
  // background-color: red;
}

.mastery__badge__small {
  height: 50% !important;
}

.mastery__score__text {
  height: 25%;
  color: #cdbe91;
  font-size: 0.6vw;
  letter-spacing: 0.1vw;
  font-weight: 600;
  text-align: center;
  // background-color: blue;
  @include flex-center;
}
