@import './styles/variables.scss';

#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  background-color: $light-color;
  @include flex-center;
}

@font-face {
  font-family: 'Pixel';
  src: url('./assets/fonts/font-regular.ttf') format('truetype');
}

body {
  font-family: 'Pixel', sans-serif;
}
